/* CSS pour l'affichage par onglet */
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../css/fonts/MyriadPro-Regular.otf");
}
@font-face {
  font-family: "LondonBetween";
  src: url("../css/fonts/LondonBetween.ttf");
}

.illustrationAdmin {
    background-image: url("../img/arbre-vert.png");
    background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.admin, #article-create, .menuTables, #section-update, #section-membre-update {
    background: rgba(255, 255, 255, 0.9);
}

section.admin h2 {
    padding-bottom:15px;
    font-family:'Philosopher', sans-serif;
}

/* XXXXXXXXXXXXXXXXXXXX ONGLETS DU TABLEAU DE BORD XXXXXXXXXXXXXXXXX */
.tab-content {
    display:none;
}

.tab-content.active {
    display: block;
}

.tabs .active a {
    color:white;
    background-color: rgb(72, 131, 176);
}

.tabs li {

    display: inline-block;    
}

.tabs:after {
    display: table;
    content: ' ';
    clear:both;

}

ul.tabs, .tabs li {
    padding: 0;
    list-style:none; 
}

ul.tabs {
    width:100%;
    margin-left: 15%;
}

.tabs a {
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px 15px;
    color: rgb(72, 131, 176);
    font-size: 20px;
}

.tabs-content {
    position:relative;
    z-index: 3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.48);
}


.fade {
    opacity: 0;
    transition: opacity 0.3s;
}

.fade.in {
    opacity:1;
}

/* XXXXXXXXXX FORMULAIRES XXXXXXXXXXXXXXX */

.formulaireAdmin h3, .admin h3 {
    font-family: "LondonBetween";
    text-transform: uppercase;
    margin-top:180px;
    padding-top: 50px;
  
}

.formulaireAdmin h4, .admin h4 {
    text-transform: uppercase;
    font-size:20px;
    text-align: center;
    color:#437ba6;
    font-family: "LondonBetween";
   
}

h3.admin {
    text-transform: uppercase;
    text-align:left;
    margin:8% 0 0 15%;
    font-family: "LondonBetween";
    padding:3% 0;
    
}


.admin {
    margin-top:0.5%;
    width:70%;

}

/* STYLES POUR LES DATATABLES */

.dataTables_wrapper .dataTables_length {
    width:30%;
}

.dataTables_filter {
    padding-bottom: 4.75em;
}

.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
    padding-top: 4.75em;
}


/* XXXXXXXXXXX SECTION LISTE ARTICLE READ XXXXXXXXXXXXXX */

.admin table img, .formAdmin img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

.formAdmin img {
    margin-top: 25px;
}

.admin table th {
    color:#437ba6;
}

.admin table td {
    color:#565759;
}
.admin table td img{
    display: inline-table;
}

.admin button {
   
    color: #437ba6;
    padding: 10%;
}

.admin table a {
    color:#D5804B;
}

.admin table a:hover {
    text-decoration:underline;
}

/* STYLES DU WIDGET PLUPLOAD */

#uploader .plupload_add, #uploader .plupload_start {
    font-size: 13px;
    padding: 15px 10px;
    color:gray;
    
}

table.plupload_filelist {
    vertical-align: bottom !important;
}

#uploader {
    height:50vh;
    scroll-behavior: unset;
}

#uploader .plupload_dropbox{
    height:40vh;
}


