/* CSS balles de la section accueil */

/* Balles css Marina Molodit */

/* Balles Animation Lydie Danjean */
.noDisplay {
    max-width:0;
    max-height:0;
}
.circle-content h2 {
    background: white;
    padding:2% 0;
    margin: 5% 0;
    position: relative;
  }
  .circle-content article {
      padding:1%;
      border-radius: 50%;
      overflow: hidden;
      text-align: center;
      vertical-align: middle;
  }
 
   .circle6 article{
      position: absolute;  
      top: 56%;
      left: 0%;
      padding: 7%;
      background: rgba(235,44,59,0.7);
      }
      .circle5 article{
      position: absolute;  
      top: 71%;
      left: 36%;
      padding: 7%;
      background: rgba(240,148,176,0.6);
      }
      .circle4 article{
      position: absolute;  
      top: 0%;
      left: 77%;
      padding: 8%;
      background: rgba(237,17,100,0.6);
      }
      .circle1 article{
      position: absolute;  
      left: 23%;
      top: 12%;
      padding: 4% 0%;
      background: rgba(188,207,0,0.6);
      }
      .circle2 article{
      position: absolute; 
      left: 20%;
      top: 46%;
      padding: 7%;;
      background: rgba(0,169,163,0.8);
      }
      .circle3 article{
       position: absolute;
      left: 43%;
      top: -8%;
      padding: 6%;
      background: rgba(96,45,145,0.7);
      }
      .circle7 article{
      position: absolute; 
      left: 40%;
      top: 40%;
      padding: 7%;
      background: rgba(244,120,59,0.7);
      }
      .circle8 article{
      position: absolute;
      top: 55%;
      left: 73%;
      padding: 8%;
      background: rgba(0,166,81,0.7);
      }
      .circle9 article{
      position: absolute;
      top: 20%;
      left: 58%;
      padding: 6%;
      background-color: rgba(46,49,146,0.6);
      }
      .circle10 article{
      position: absolute;
      top: 0%;
      left: 0%;
      padding: 7%;
      background-color: rgba(255, 140, 153,0.6)
      }
    
      
      .circle11 article{
      position: absolute;
      top: 0%;
      left: 90%;
      
      }
      .circle11 article img{
        border-radius:50%;
        width: 50%;
      }

.circle1 article
{
    transition-property:z-index, background, text-shadow;
    /* La transition durera deux secondes. */
    transition-duration: 2s;
    transition-timing-function: ease-in;
} 

.circle1 article .noDisplay
{
    transition-property: max-width, max-height;
    /* La transition durera deux secondes. */
    transition-duration: 2s;
    transition-timing-function: ease-in;
}

/* Style lors du passage de la souris*/
.circle1 article:hover
{  
    z-index:999;
    background:#c1dc87;
    box-shadow:10px 10px 10px rgba(0, 0, 0, 0.7);
}

.circle1 article:hover .noDisplay {
    max-width: 25%;
    max-height:25%;
    object-fit: cover;
}

.circle8 article {
    transition: box-shadow 0.7s ease infinite;
}
.circle8 article:hover
{
     animation: bounce 0.7s ease infinite;
     box-shadow:10px 10px 10px rgba(0, 0, 0, 0.7);
    }

/* Style lors du passage de la souris*/
@keyframes bounce{
     from {top: 60%;}
     50%  {top: 55%;}
     to   {top: 60%;}
}

