/* CSS balles de la section accueil */

/* Balles css Marina Molodit */

/* Balles Animation Lydie Danjean */

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../css/fonts/MyriadPro-Regular.otf");
}
@font-face {
  font-family: "LondonBetween";
  src: url("../css/fonts/LondonBetween.ttf");
}

  .circle-content article {
      padding:1%;
      border-radius: 50%;
      overflow: hidden;
  }

  .circle-content article span {
    color: white;
    margin:0;
    position: relative;
    font-family: "MyriadPro-Regular";
    display: block;
    text-align:center;
    font-size:24px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.9);
  }

  .circle-content article p {
      color:white;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
  }
 
   .circle6 article{
      position: absolute;  
      top: 30%;
      left: 35%;
      padding: 4%;
      background: rgba(244,120,59,0.7);
      transition:all 0.3s ease;
      }
      .circle5 article{
      position: absolute;  
      top: 65%;
      left: 40%;
      padding: 7%;
      background: rgba(72, 131, 176,0.7);
      transition:all 0.3s ease;
      }
      .circle4 article{
      position: absolute;  
      top: 5%;
      left: 77%;
      padding: 8%;
      background: rgba(244,120,59,0.7);
      transition:all 0.3s ease;
      }
      .circle1 article{
      position: absolute;  
      left: 15%;
      top: 12%;
      padding: 5%;
      background: rgba(188,207,0,0.6);
      }
      .circle2 article{
      position: absolute; 
      left: 20%;
      top: 46%;
      padding: 5%;;
      background: rgba(72, 131, 176,0.7);
      }
      .circle3 article{
       position: absolute;
      padding: 5%;
      top: 45%;
      left: 73%;
      background: rgba(188,207,0,0.6);
      }
      .circle7 article{
      position: absolute; 
      left: 50%;
      top: 40%;
      padding: 5%;
      background: rgba(244,120,59,0.7);
      transition: all 0.7s ease;
      }
      .circle8 article{
      position: absolute;
      left: 43%;
      top: 7%;
      padding: 3%;
      background: rgba(0,166,81,0.7);
      transition: all 0.7s ease;
      }
      .circle9 article{
      position: absolute;
      top: 20%;
      left: 58%;
      padding: 7%;
      background-color: rgba(0,166,81,0.7);
       transition: all 0.7s ease;
      }
      .circle10 article{
      position: absolute;
      top: 80%;
      left: 10%;
      padding: 4%;
      background-color: rgba(72, 131, 176,0.7);
      transition:all 0.3s ease;
      }
      .circle11 article{
      position: absolute;
      top: 60%;
      left: 60%;
      padding: 4%;
      background: rgba(188,207,0,0.6);
      transition:all 0.3s ease;
      }

.circle1 article, .circle2 article, .circle3 article
{
    transition-property: padding;
    /* La transition durera deux secondes. */
    transition-duration: 0.5s;
    transition-timing-function: ease;
} 

/* Style lors du passage de la souris*/
.circle1 article:hover, .circle2 article:hover, .circle3 article:hover
{  
    padding:7%;
}

.circle6 article:hover, .circle11 article:hover {
    -webkit-transform: rotateZ(30deg);
    -ms-transform: rotateZ(30deg);
    transform: rotateZ(30deg);
}

.circle5 article:hover, .circle10 article:hover {
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}


.circle9 article:hover, .circle8 article:hover {
    padding:5%;
}

.circle7 article:hover {
    padding:3%;
}

.circle4 article:hover {
    -webkit-transform: rotateZ(-90deg);
    -ms-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
}


/* XXXXXXXXXXX ARTICLES EN PAGE D'ACCUEIL XXXXXXXXXXXXXX */


#accueil-articles article {
    display:inline-block;
    width:21%;
    vertical-align: top;
    padding: 5% 3% 3% 4%;
    height:25vh;
    border-radius: 5%;
    margin-left:4%;
    color: white;
    transition:all 0.3s ease;
    font-size:20px;
  }
  
 #accueil-articles article p {
    color:white;
    /* padding:1%; */
    
  }
  
  #accueil-articles p.images {
    background: rgba(0, 0, 0, 0.7);
    border-radius:10px;
    padding:4% 2%;
    margin: 25% auto 2% auto;
    display: block;
  }
  
  #accueil-articles article:hover {
  border-radius:50%;
  box-shadow:10px 10px 10px rgba(0, 0, 0, 0.7);
  
  }
  
  
  #accueil-articles p.date {
      color:#ddd;
      font-size: 13px;
      background: rgba(0, 0, 0, 0.7);
      padding: 4% 2%;
      border-radius:10px;

  }

  #accueil-articles {
      margin-top:150px;
  }

  @media screen and (max-width:1100px) {
    #accueil-articles article {
        width:38%;
        margin-bottom:3%;
    }
}

@media screen and (max-width:700px) {
    #accueil-articles article {
        width:76%;
        margin:1.5% auto;
    }
}


  /* XXXXXXXXXX PRESENTATION ACCUEIL */
  
  #presentation article {
  color: #ddd;
  padding:7% 7% 5%;
  width:55%;
  
  }
  
  #presentation li {
    display: block;
  }
  
  #presentation p, #presentation li {
    font-size: 1.2em;
    line-height: 1.2;
  }

  #presentation h2 {
      padding:10% 10%;
      width:30%;
      font-size:2.5em;
      font-family: "LondonBetween";
      border-radius: 0 50% 50% 0;
      background:white;
      vertical-align: middle;
      margin:0;
   }

  #presentation {
      display:flex;
      flex-direction:row;
      background: #5B90B8;
      width:100%;
      margin-top: 150px;
    
 }

/* XXXXXXXXXXXX SECTION PRESENTATION RESPONSIVE XXXXXXXXXXXXXXXXXX */

 @media screen and (max-width:1290px) {
     #presentation h2 {
        border-radius: 0 55% 55% 0;
     }
}

@media screen and (max-width:1250px) {
    #presentation h2 {
       padding:14% 10%;
    }
}

@media screen and (max-width:1220px) {
    #presentation h2 {
       padding:18% 10%;
    }
}

@media screen and (max-width:1140px) {
    #presentation h2 {
        padding:20% 10%;
       border-radius: 0 100% 100% 0;
    }
}

@media screen and (max-width:1090px) {
    #presentation {
       width:100%;
    }
}

@media screen and (max-width:950px) {
    #presentation h2 {
        border-radius: unset;
    }
}

@media screen and (max-width:745px) {
    #presentation {
       flex-direction: column;
    }

    #presentation h2 {
        width:100%;
        padding:20% 0%;
        border-radius:0 0 50% 50%;
    }

    #presentation article {
        margin:2% auto;
    }
}

@media screen and (max-width:400px) {
    #presentation h2 {
       font-size: 2em;
    }
}







