@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../css/fonts/MyriadPro-Regular.otf");
}
@font-face {
  font-family: "LondonBetween";
  src: url("../css/fonts/LondonBetween.ttf");
}

@media all and (min-width: 320px) and (max-width: 1700px)  {
  .rhizome, .createxte, .journal{
    width: auto !important;
    margin: 1%;
    margin-right: 5% !important;
    padding-top: 1%;
  }
}
@media all and (min-width: 320px) and (max-width: 1024px)  {
.article-rhizome img{
    margin-right: 5% !important;
    /*width: auto !important;*/
  }
.article-rhizome{
    flex-direction: column;
}
.article-createxte {
  display: block !important;
  width: auto !important;
}
.article-createxte iframe{
  width: 100% !important;
}
}
@media all and (min-width: 320px) and (max-width: 1550px){
.rhizome, .createxte, .journal{
  padding-top:  2% !important;
  height: 100%;
}}
@media all and (min-width: 830px) and (max-width: 1550px){
.journal .tabs-content{
  margin-left: 5% !important;
  width: 100% !important;
  height: 0% !important;
}
}
@media screen and (min-width: 320px) and (max-width: 830px) {
  h1{
    font-size: 1em;
  }
#menu{
    font-size: 1em;
  }
.journal .tabs-content{
  margin-left: -2% !important;
  width: 100% !important;
  height: 50vh;
  }
.journal .tabs{
height: 10% !important;
width: 26vw !important;
margin: 4vw !important;
}
.journal .tabs-content .active{
  display: inline-block !important;
}

.rhizome ul li, .createxte ul li{
    margin: 0% !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .motCle .flexslider .slides img, .article-rhizome .flexslider .slides img{
    -webkit-transform: none;
    transform: none !important;
    border-radius: 0;
    height: 30vh !important;
  }
}
@media screen and (min-width: 750px) and (max-width: 1024px) {
  .article-commentaire.flexslider .slides > li{
  width: 73vw !important;
  margin: -9px !important;
}
.journal iframe{
  height: 25vh !important;
}
.article-rhizome .flexslider .slides img{
  height: 20vh !important;
}
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
   .article-commentaire.flexslider .slides > li{
  width: 78vw !important;
  margin: 6px !important;
}
}


@media screen and (min-width: 1024px)  {
.journal iframe{
  height: 45vh !important;
}
.journal .tabs{
height: 0% !important;
}
}
@media screen and (max-width: 750px) {
  /*.journal, .createxte, .motCle{
  margin-top: -35% !important;
  margin-bottom: -20% !important;
}*/
.article-rhizome{
  width: auto !important;
  margin-right: 5% !important;
}
.journal .tabs li a{
  font-size: 12px;
}
.journal .tabs{
overflow-y: scroll;
margin-right: 12%;
}
.logo{
  line-height: 0px;
}
}
/*@media screen and (min-width: 768px) {
.rhizome{
  margin-top: -10% !important;
  margin-bottom: -10% !important;
}
}*/

@media screen and (max-width: 1024px) {
.rhizome{
  margin-top: -10% !important;
}
}
@media screen and (max-width: 450px) {
/*.rhizome{
  margin-bottom: -15% !important;
}*/
.article-rhizome .flexslider{
    width: 80vw !important;
  }
.journal iframe{
  height: 20vh !important;
  width: 1vw !important;
}
footer{
  margin-top: 40px;
}
}
@media screen and (max-width: 450px) {
.bgimg-1, .accueil-articles, #presentation{
  margin-top: -7% !important;
  /*margin-bottom: -20% !important;*/
}
#accueil-articles{
  margin-top: 40px !important;
}
#presentation{
  margin: 0%;
}
}

/*--------SECTIONS -------*/
.rhizome, .createxte, .journal{
font-family: "MyriadPro-Regular";
width: 100%;
color: rgb(16, 78, 139);
}
.rhizome{
background-image: url("../img/bubble.png");
background-repeat: no-repeat;
background-size: contain;
}
.createxte{
background-image: url("../img/bubbles.png");
background-size: contain;
}
.journal{
background-image: url("../img/round.png");
background-repeat: no-repeat;
}
.motCle{
background: url(../img/back-pattern.png)repeat;
display: inline-table;
width: 100%;
border-radius: 10px;
border: 1px solid #ddd;
  }

/*--------ARTICLES -------*/
.article-rhizome, .article-createxte, .journal .tabs-content .active{
 padding: 2% 2%;
 border-radius: 10px 10px;
 border: solid 1px rgb(16, 78, 139);
 width: 40%;
 margin: 1%;
 margin-left: 4%;
 text-align: left;
 transition-property:z-index, background, text-shadow;
    /* La transition durera deux secondes. */
 transition-duration: 2s;
 transition-timing-function: ease-in;
}

.article-rhizome {
background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
background-color: white;
display: inline-table;
  }


.article-createxte{
background-color: rgba(214,214,214, .7);
display: inline-table;
}

/*--------- SECTIONS DETAILS ---------*/
 
.article-createxte iframe, .article-createxte img{
    /* height: 30vh;
    width: 100%; */
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.7);
    border: 1px solid rgb(16, 78, 139);
 }

.rhizome h3, .createxte h3, .journal h3{
  font-family: "LondonBetween";
  text-transform: uppercase;
  font-size: 1.7em;
  text-align: center;
 
}
.rhizome h4, .createxte h4, .journal h4,
.rhizome a, .createxte a, .journal a, .motCle h4, .motCle a{
  text-transform: uppercase;
  color: rgb(16, 78, 139);
  text-decoration: underline;
}
.motCle span{
text-transform: lowercase;
color: #D5804B;

}
.rhizome ul li, .createxte ul li, .motCle ul li{
  /* float: left; */
  /* margin: 2%; */
  border-radius: 5px;
  list-style: none;
  background-color: rgb(169, 212, 237);
  text-decoration: none;
}
.rhizome ul li a, .createxte ul li a, .motCle ul li a{
  margin: 2%;
}
.article-rhizome div img{
  /* margin: 1%; */
  -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.7);
  border: 1px solid rgb(16, 78, 139);
}

.article-rhizome .flexslider {
  width: 35vw;
}
/*.flexslider .slides img{
  width: 30vw !important;
  margin-left: 6% !important;
}*/

.motCle .flexslider .slides img, .article-rhizome .flexslider .slides img{
 height: 45vh;
}
.motCle .article-rhizome:hover img{ 
  border-radius: 0;  /* on arrondit l'image */
  -webkit-transform: 0; /* rotation de l'image */
  transform: none;
}

/* Style lors du passage de la souris*/
.article-rhizome:hover{  
    z-index:-2;
    background: #eeeff1;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.7);
    color: rgb(72, 131, 176); 
}
.article-rhizome:hover  img{
  width: 12vw; /* on affiche l'image au carré */
  height: 20vh;
 border-radius: 50%;  /* on arrondit l'image */
  -webkit-transform: rotate(360deg); /* rotation de l'image */
  transform: rotate(360deg);
}
/*----------Journal ------------*/
.journal div{
  display: flex;
  /*padding-bottom: 4%;*/

}
 .journal iframe{
    height: 70vh;
    min-width: 100%;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.7);
    border: 1px solid rgb(16, 78, 139);
 } 

.journal .tabs .active a{
  color:white;
  background-color:#A9D4ED;

}
.journal .tabs{
  width: 20vh;
  margin-left: 10vw;
  height: 70vh;
  margin-bottom: 5%;
}
.journal ul{
  margin-top: 0;
}

.journal .tabs-content{
  margin-left: 15%;
  width: 50%;
  border: 4px solid #A9D4ED;
  border-radius: 10px;
  bottom: 2%;
  z-index: 0;
}
.journal .tabs-content .active{
  margin: 4%;
  padding-bottom: 5%;
  width: 100%;
  display: inline-table;
  background-color: rgba(214,214,214, .7);
}
.journal .tabs a{
  font-size: 15px;
  color: rgb(16, 78, 139);
  background-color: rgba(214,214,214, .7);
  width: 10vw;
}
