@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../css/fonts/MyriadPro-Regular.otf");
}
@font-face {
  font-family: "LondonBetween";
  src: url("../css/fonts/LondonBetween.ttf");
}


@media all and (min-width: 320px) and (max-width: 1024px)  {
    .article-rhizome img{
        margin-right: 5% !important;
      }
    .article-rhizome{
        flex-direction: column;
    }
    .article-createxte {
      display: block !important;
      width: auto !important;
    }
    .article-createxte iframe{
      width: 100% !important;
    } 
}
@media all and (min-width: 320px) and (max-width: 1550px){
    
}

@media screen and (min-width: 320px) and (max-width: 830px) {
  h1{
    font-size: 1em;
  }
  #menu{
    font-size: 1em;
    }

  .rhizome ul li, .createxte ul li{
      margin: 0% !important;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .motCle .flexslider .slides img, .article-rhizome .flexslider .slides img{
      -webkit-transform: none;
      transform: none !important;
      border-radius: 0;
      height: 30vh !important;
    }
}
@media screen and (min-width: 750px) and (max-width: 1024px) {
    .article-commentaire.flexslider .slides > li{
      width: 73vw !important;
      margin: -9px !important;
    }
    
    .article-rhizome .flexslider .slides img{
      height: 20vh !important;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
    .article-commentaire.flexslider .slides > li{
      width: 78vw !important;
      margin: 6px !important;
  }
}



@media screen and (max-width: 750px) {
 
  .article-rhizome{
    width: auto !important;
    margin-right: 5% !important;
  }
  
  .logo{
    line-height: 0px;
  }

  .journal div#tabContainer{
    flex-direction: column !important;
    }

  .journalUl {
    width:300px !important;
    height: 100px;
    overflow-y: scroll;
    overflow-x:hidden;
    margin:0 auto;
      }
    
  .journalUl li {
    width: 200px !important;
    padding: 4% 2% !important;
      }


}


@media screen and (max-width: 1024px) {
  .rhizome{
    margin-top: -10% !important;
  }
}
@media screen and (max-width: 450px) {

  .article-rhizome .flexslider{
      width: 80vw !important;
    }
 
  footer{
    margin-top: 40px;
  }
}
@media screen and (max-width: 450px) {
  .bgimg-1, .accueil-articles, #presentation{
    margin-top: -7% !important;
  
  }
  #accueil-articles{
    margin-top: 40px !important;
  }
  #presentation{
    margin: 0%;
  }
}


/* MEDIA QUERIES IFRAME Rubrique Journal */


@media screen and (max-width: 1400px)
{

  .journal iframe {
    width:59vw !important;
    zoom: 1;
  }
}

@media screen and (max-width: 1250px)
{

  .journal iframe {
    width:60vw !important;
  }
}

@media screen and (max-width: 1200px)
{

  .journal iframe {
    width:64vw !important;
  }
}

@media screen and (max-width: 1118px)
{

  .journal iframe {
    width:68vw !important;
  }
}

@media screen and (max-width: 1030px)
{

  .journal iframe {
    width: 72vw !important;
  }
}

@media screen and (max-width: 960px)
{

  .journal iframe {
    width: 76vw !important;
  }
}

@media screen and (max-width: 880px)
{

  .journal iframe {
    width: 84vw !important;
  }
}

@media screen and (max-width: 810px)
{

  .journal iframe {
    width: 89vw !important;
  }
}

@media screen and (max-width: 750px)
{

  .journal iframe {
    width: 79vw !important;
  }
  div#sizer {
    width: 559px !important;
  }
}

/*--------SECTIONS -------*/
.rhizome, .createxte{
  font-family: "MyriadPro-Regular";
  margin: 0 auto;
}
.rhizome{
  background-image: url("../img/carrot-161544_640.png");
  width:100%;

}
.createxte{
  background-image: url("../img/pencil-2841859_640.png"), url("../img/chinese-1891496_640.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 5vw 25vh, 54vw 25vh;
  background-attachment: fixed;
  width:100%;
}
.journal{
  background-image: url("../img/fox-312419_640.png"), url("../img/fox-312419_640rev.png") ;
  background-repeat: no-repeat;
  background-position: 8vw 61vh, 61vw 61vh;
  background-attachment: fixed;
  width:90%;
}
.motCle{
  background-image: url("../img/hot-air-balloon-312562_640.png");
  background-repeat: repeat;
  width: 100%;
 
  }

/*--------ARTICLES -------*/
.article-rhizome, .article-createxte  {
  padding: 1% 5% 3% 2%;
  border-radius: 15px;
  margin-top: 10%;
  text-align: left;
  transition-property:z-index, text-shadow;
      /* La transition durera deux secondes. */
  transition-duration: 1.5s;
  transition-timing-function: ease-in;
}

.article-createxte{
  background-color: rgba(252, 248, 248, 0.85);
  display: inline-table;
  margin-left:5%;
  border: 1px dashed rgba(255, 104, 4, 0.877);
}

/*--------- SECTIONS DETAILS ---------*/
 
.article-createxte iframe, .article-createxte img{

    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.7);
    border: 1px solid rgb(16, 78, 139);
 }

.rhizome h2, .createxte h2, .journal h2, .motCle h2{
  font-family: "LondonBetween";
  text-transform: uppercase;
  font-size: 1.7em;
  text-align: center;
 
}

.rhizome ul li, .createxte ul li, .motCle ul li{
  
  border-radius: 5px;
  list-style: none;
  text-decoration: none;
}

.article-rhizome div img{
  -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.article-rhizome .flexslider {
  width: 27vw;
  margin-top:5%;
  background-color: #eeeff1;
  border:none;
}



.article-rhizome span, .article-createxte span {
  color: rgb(119, 118, 118);
  font-size:14px;
  display: block;
  }


.motCle .flexslider .slides img, .article-rhizome .flexslider .slides img{
  height: 45vh;
  object-fit: contain;
  }

/* Style lors du passage de la souris*/
.article-rhizome{  
    z-index:-2;
    background-color: #eeeff1;
    color: rgb(72, 131, 176); 
    display: inline-table;
    margin-left: 9%;
  }

  .article-rhizome p, .article-createxte p {
    line-height: 1.5
  }

.article-rhizome:hover, .article-createxte:hover {
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.7);
  }

.article-rhizome p, .article-rhizome h4 a, .article-createxte p, .article-createxte h4 a {
  color:rgba(255, 104, 4, 0.877);
  padding: 1% 2%;
  border-radius:10px;
  }

.article-rhizome h4 a, .article-createxte h4 a {
  font-size:30px;
  }

  .article-rhizome h4 a:hover, .article-rhizome p a, .article-createxte h4 a:hover, .article-createxte p a {
    background-color: rgba(255, 104, 4, 0.877);
    color: #eeeff1;
    padding:1%;
  }
 

   ul.pages {
    margin-top:10%;
    font-size:20px;
    padding:2%;
  }

   .pages li {
    padding:0.5% 1%;
    margin-left:2%;
    background-color: #5688af;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.7);
    transition: all 0.7s ease;
    font-size:20px;
    display:inline-block;
    
  }

  .pages li a {
    color:white;
   
  }

  .pages li:hover {
    transform:scale(1.5);
  }

 


/*----------Journal ------------*/
.journal div#tabContainer{
  display: flex;
  flex-direction: row;

  }
.journalUl {
  width: 19vw;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x:hidden;
  }

  .journalUl li {
    width: 11vw;
  }
 .journal iframe{
    height: 80vh;
    width: 50vw;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.7);
    border: 1px solid rgb(16, 78, 139);
  }



.journal #tabscontent{

      border: 2px dashed rgba(255, 104, 4, 0.877);
      border-radius: 10px;
      bottom: 2%;
      padding: 3%;
      z-index: 0;
      background-color: rgba(252, 248, 248, 0.85);
  }


.journal h4 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.788);
  font-size:30px;
  } 

.journal article p, .journal article a {
  color: rgba(255, 104, 4, 0.877);
  padding: 1% 2%;
  border-radius:10px;
  }

.journal article a:hover  {
  background-color:rgba(255, 104, 4, 0.877);
  color: rgba(255, 255, 255, 0.788);
  }
