body, html {
  color: #777;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}
/*header{
  width:100%;
}*/
figure img {
  width:100px;
  height: 100px;
}

ul, li {
  list-style: none;
}

ul {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
a {
  text-decoration: none;
}

header nav {
  text-align:center;
  background-color: #D3D3D3;
  color:#5e528a;
  margin:0 auto;
  padding:1%;
}
header nav li {
  font-family: 'Philosopher', sans-serif;
  font-size: 25px;
  font-weight: normal;
  
}

header nav a, #ecrire a {
 margin: 10px 20px;
 background-color:#5e528a;
 color:white;
 padding: 3% 4%;
 border: solid 1px #5e528a;
 border-radius: 10px 10px;
}
h1 {
  font-family: 'Philosopher', sans-serif;;
  font-size: 2em;
}
h1, h2, h3 {
  color: #5e528a;
  text-align: center;
  text-transform: uppercase;
  margin-bottom:1.5%;
}

h2, h3 {
  font-family: 'Philosopher', sans-serif;
  letter-spacing: 5px;
}
form{
  margin: 3% auto;
  width:58%;
  } 
input, label, select {
  outline: none;
  padding: 1% 1% 1% 0.3%;
  border-radius:2px;
  width:50%;
  background: transparent;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  box-sizing: border-box;
  outline: none; 
}

button {
  background-color:#4e4c56;
  color:white;
  padding: 1% 2%;
  border-radius:3px;
  text-transform: uppercase;
}
.bgimg-1{
  position: relative;
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity:0.9;

}
.caption {
  position: absolute;
  left: 0;
  width: 80%;
}
/*XXXXXXXXXXX ADMIN ENFANT ET READ ADMIN ENFANT XXXXXXXXXXXXX*/
div{
  top:100%;
  width:35%;
  border-radius: 10px 10px;
  border: solid 2px color #5e528a;
}
.circle-content h2 {
  background: white;
  padding:1% 0;
  margin: 2.5% 0;
  position: relative;
}
.circle-content article {
    padding:1%;
    border-radius: 50%;
    display:table;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
.circle-content article img {
  background-position: center center;
  width: 40%;
 
}
    .circle1 article{
    position: absolute; 
    width:10%;
    left: 37.5%;
    top: 135%;
    padding: 6%;
    background: rgba(188,207,0,0.6);
    }
    .circle2 article{
    position: absolute;
    width:10%;
    left:2.5%;
    top: 115%;
    padding: 6%;;
    background: rgba(0,169,163,0.8);
    }
    .circle3 article{
    position: absolute;
    width:15%;
    left: 70%;
    top: 115%;
    padding: 6%;
    background: rgba(96,45,145,0.7);
    }

/************ DIV REPONSE ***************/
.response{
  font-family: 'Philosopher', sans-serif;
  margin-top:2%;
  font-size:1.4em;
  color:#32a1f7;
}

/*XXXXXXXXXXX FOOTER  XXXXXXXXXXXXX*/
footer{
  font-family: 'Philosopher', sans-serif;
  background-color:#D3D3D3;
  color:#5e528a;
  font-size:1.2em;
}
