@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../css/fonts/MyriadPro-Regular.otf");
}
@font-face {
  font-family: "LondonBetween";
  src: url("../css/fonts/LondonBetween.ttf");
}


body, html {
  font-family: "MyriadPro-Regular";
  margin: 0 auto;
}
a{
  text-decoration: none;
}

/*XXXXXXXXXXX ADMIN ENFANT ET READ ADMIN ENFANT XXXXXXXXXXXXX*/
.enfantRead{
  margin-bottom: 30%;
 }
h2, h3{
  margin-top:1.5%;
   color:#D5804B;
   font-family:"MyriadPro-Regular";
   text-align:center;
   font-size: 1.4em;
 }
hr{
  width: 80%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border: 0;
  border-bottom: 1px solid #E6E9EC;
}
 .articleEnfant {
  float: left;
  border-radius:10px;
  margin: 10px;
  padding: 5px;
  width: 300px;
  height: 300px;
  border: 1px dashed #313233;
}
.articleEnfant img{
    border-radius:30%;
    width:40%;
    margin-left:30%;
}
/************ DIV REPONSE ***************/
.response{
  font-family: "LondonBetween";
  margin-top:4%;
  font-size:1.6em;
  color:#4883B0;
}
