@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../css/fonts/MyriadPro-Regular.otf");
}
@font-face {
  font-family: "LondonBetween";
  src: url("../css/fonts/LondonBetween.ttf");
}


body, html {
  font-family: "MyriadPro-Regular";
  margin: 0 auto;
}
a{
  text-decoration: none;
}

/*XXXXXXXXXXX ADMIN ENFANT ET READ ADMIN ENFANT XXXXXXXXXXXXX*/
section.enfantRead{
  margin-bottom:20%;
  padding:5%;
  width:70%;
  overflow:hidden;
  background-image:url("../img/sectionEnfant.jpg");
  background-size: cover;
 }
h2, h3{
  margin-top:2%;
  color:#D5804B;
  font-family:"LondonBetween";
  text-align:center;
  font-size: 1.4em;
}
hr{
  width: 80%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border: 0;
  border-bottom: 1px solid #E6E9EC;
}
.enfantRead div{
  margin:0 auto;
  width: 80%;
}
.enfantRead div h3{
  color:white;
}
#articleEnfant{
  float: left;
  margin-bottom:5%;
  border-radius:10px;
  margin: 10px;
  padding: 5px;
  width: 300px;
  height: 280px;
  border: 1px dashed white;
}
#articleEnfant img{
    border-radius:30%;
    width:40%;
    margin-left:30%;
}
#articleEnfant p{
  text-align:right;
  margin-top:8%;
  margin-right:5%;
}
#articleEnfant img:hover{
  cursor:pointer;
}
/************ DIV REPONSE ***************/
.response{
  font-family: "LondonBetween";
  margin-top:4%;
  font-size:1.6em;
  color:#4883B0;
}
