body, html {
  color: #777;
  font-family: 'Roboto', sans-serif;
}
figure img {
  width:100px;
  height: 100px;
}
i{
  font-size:1em;
}
header{
  width: 100%;
}
ul, li {
  list-style: none;
}

ul {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: left;
}
a {
  text-decoration: none;
}

header nav {
  width:100%;
  text-align:center;
  background-color: #D3D3D3;
  color:#5e528a;
  margin:0 auto;
  padding:1%;
}
header nav li {
  font-family: 'Philosopher', sans-serif;
  font-size: 1em;
  font-weight: normal;
  
}

header nav a{
justify-content: flex-end;
 vertical-align: middle;
 background-color:#5e528a;
 color:white;
 padding: 3% 4%;
 border: solid 1px #5e528a;
 border-radius: 10px 10px;
}

#menuLogin{
 text-align:right;
 background-color:#5e528a;
 color:white;
 padding: 3% 4%;
 border: solid 1px #5e528a;
 border-radius: 10px 10px;
}

h1 {
  font-family: 'Philosopher', sans-serif;
  font-size: 40px;
}
h1, h2, h3 {
  color: #5e528a;
  text-align: center;
  text-transform: uppercase;
}

h2, h3 {
  font-family: 'Philosopher', sans-serif;
  letter-spacing: 5px;
}
form{
  margin: 3% auto;
  width:50%;
  } 
input, select {
  outline: none;
  padding: 1% 1% 1% 0.3%;
  border-radius:2px;
  width:50%;
  background: transparent;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  box-sizing: border-box;
  outline: none; 
}

button {
  background-color:#4e4c56;
  color:white;
  padding: 1% 2%;
  border-radius:3px;
  text-transform: uppercase;
}
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity:0.9;

}
.bgimg-1 {
  background-image: url("../img/arbre-vert.png");
  min-height: 100vh;
  margin-right: 0;
}

.bgimg-3 {
  background-image: url("../img/enfants.jpg");
  min-height: 500px;
}

.caption {
  position: absolute;
  left: 0;
  width: 80%;
}
section {
  width: 80%;
  margin: 5% auto;
}

#recherche .search {
  width:30%;
  display:inline-block;
}

#recherche .cloud {
  width: 45%;
  display: inline-block;
}


/*XXXXXXXXXXX ARTICLES  XXXXXXXXXXXXX*/
#accueil-articles {
  width:90%;
  margin: 0 auto;
}

#accueil-articles h3 {
  font-size: 12px;
  width:50%;
  text-align: center;
  margin:0 auto;
}

/*XXXXXXXXXXX LOGIN XXXXXXXXXXXXX*/
.connection{
  display: inline-flex;
}
 .inscription, .connecter{
  font-family: 'Philosopher', sans-serif;
  box-shadow:10px 2px 10px rgba(0, 0, 0, 0.6);
  width:40%;
  border-radius:10px;
  padding-bottom: 25px;
  margin-left:10%;
}
.ecrire{
  font-family: 'Philosopher', sans-serif;
  box-shadow:10px 2px 10px rgba(0, 0, 0, 0.6);
  border-radius:10px;
  padding-bottom: 25px;
  
}
.ecrire #form input{
  width:32%;
}
.inscription h3, .ecrire h3,  .connecter h3{
    text-align:center;
    font-weight: bold;
    margin-left:5%;
}
.label-file {
    cursor: pointer;
    color: #5e528a;
    font-weight: bold;
    padding-bottom: 2%;
}
.label-file:hover {
    color: #25a5c4;
}
.input-file {
    display: none;
}
#form{
  text-align: center;
  /*display:flex;*/
  flex-direction: column;
  margin:0 auto;
  width: 70%;
}
#form input{
  text-align:center;
  border-radius: 10px;
  margin-bottom: 5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
#form button{
  background-color:#f1e4fa;
  color:#5e528a;
  border-radius: 10px;
  margin-bottom: 5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  cursor:pointer;
}
/*XXXXXXXXXXX FOOTER  XXXXXXXXXXXXX*/
footer{
  width: 100%;
  font-family: 'Philosopher', sans-serif;
  background-color:#D3D3D3;
  color:#5e528a;
  font-size:1em;
  padding-bottom:1.5%;
}
ul {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
}
#menufooter li{
  margin-right: 20px;
  margin-top: 30px;
}
#menufooter a{
  margin-top:5%;
  vertical-align: middle;

  /*margin: 10px 20px;*/
  background-color:#5e528a;
  color:white;
  padding: 3% 4%;
  border: solid 1px #5e528a;
  border-radius: 10px 10px;
}