@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../css/fonts/MyriadPro-Regular.otf");
}
@font-face {
  font-family: "LondonBetween";
  src: url("../css/fonts/LondonBetween.ttf");
}

body, html {
  font-family: "MyriadPro-Regular";
}
/*XXXXXXXXXXXXXX HEADER ET NAV XXXXXXXXXXXXX*/
/* lien du css https://codepen.io/collection/AxKbKw/2/ */
header{
  background:#a9d4ed;
  padding-bottom:0.2%;
 }

nav.menu ul{
  margin-top:3%;
  margin-left:0.5%;
}
nav.menu ul, nav.menu li {
  list-style: none;
  display: inline-block;
}
nav.menu a {
  background: #4883B0;
  font-size:1.2em;
  box-shadow: 0 0 0 #000 inset;
  border-radius: 4px;
  transition: .3s;
  padding: 10px;
  color: white;
  text-decoration: none;
}

nav.menu a:hover {
  box-shadow: 0 -3em 0 #b1b2b2 inset;
  color:#313233;
}
.i{
  display:inline
}

/*XXXXXXXXXXXXXXXX TITRE PRINCIPAL  XXXXXXXXXXXXXXX*/


h1 {
  color:#D5804B;
  font-family: 'Philosopher', sans-serif;
  font-size: 3em;
  margin-top:3%;
  text-align: center;
  text-transform: uppercase;
}

/*XXXXXXXXXXXXXXXXX SECTION XXXXXXXXXXXXXXXXXXX*/
h2, h3 {
  letter-spacing: 5px;
  margin: 5% 0;
  color:#D5804B;
}

#presentation h2, #accueil-articles h2 {
  /* margin-bottom: 5%; */
  font-size:30px;
  text-transform:uppercase;
}
.bgimg-1{
  position: relative;
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity:0.95;
  background-image: url("../img/arbre-vert.png");
  min-height: 100vh;

}

section {
  width: 80%;
  margin: 5% auto;
}


/* XXXXXXXXXXX ARTICLES XXXXXXXXXXXXXX */


#accueil-articles article {
  display:inline-block;
  width:20%;
  vertical-align: top;
  padding: 5% 3% 3% 4%;
  height:25vh !important;
  border-radius: 5%;
  margin-left:4%;
  color: white;
  transition:all 0.3s ease;
  font-size:20px;
}

#accueil-articles article a, #accueil-articles article p {
  color:white;
  padding:1%;
}

#accueil-articles div.images {
  text-shadow:2px 2px rgba(0, 0, 0, 0.9);
}

#accueil-articles article:hover {
border-radius:50%;
box-shadow:10px 10px 10px rgba(0, 0, 0, 0.7);
}

#accueil-articles article div {
  display:flex;
  flex-direction: column;
}

/* XXXXXXXXXX PRESENTATION ACCUEIL */

#presentation article {
color: #313233;
padding:0 10%;
font-family:'Philosopher'
}

#presentation li {
  display: block;
}

#presentation p, #presentation li {
  font-size: 1.2em;
  line-height: 1.2;
}
/*XXXXXXXXXXX FOOTER  XXXXXXXXXXXXX*/
footer{
  background:#a9d4ed;
}
.menuFooter{
  margin-bottom:3%;
  margin-left:32%;
  margin-top:3%;
}
.footer ul, li {
  display: inline-block;
}
.footer a {
  background: #4883B0;
  font-size:1.2em;
  margin-right:10px;
  box-shadow: 0 0 0 #000 inset;
  border-radius: 3px;
  transition: .3s;
  padding: 10px;
  color: white;
  text-decoration: none;
}
.footer a:hover {
  box-shadow: 0 -3em 0 #b1b2b2 inset;
  color:white;

}

/*XXXXXXXXXXX CONTACT  XXXXXXXXXXXXX*/
.contact{
  width: 50%;
  text-align: center;
}
.contact h2{
  font-size: 2em;
}
.contact .form{
  font-family: "LondonBetween";
  color: rgb(16, 78, 139);
  font-size: 1.2em;
}
.contact a{
      color: #D5804B;
}