@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../css/fonts/MyriadPro-Regular.otf");
}
@font-face {
  font-family: "LondonBetween";
  src: url("../css/fonts/LondonBetween.ttf");
}



body, html {
  color: #777;
  font-family: "MyriadPro-Regular";
}
/*XXXXXXXXXXXXXX HEADER ET NAV XXXXXXXXXXXXX*/
/* lien du css https://codepen.io/collection/AxKbKw/2/ */
header{
  background:#A0D8F6;
  padding-bottom:0.2%;
  border-bottom: 1px solid #313233;
}
.ulNav{
  margin-left:40%;
}
ul{
  margin-top:3%;
  margin-left:0.5%;
}
ul, li {
  list-style: none;
  display: inline-block;
}
.menu a {
  background: #1E90FF;
  font-size:1.2em;
  margin-right:10px;
  box-shadow: 0 0 0 #000 inset;
  border-radius: 4px;
  border: 1px solid #313233; 
  transition: .3s;
  padding: 10px;
  color: #313233;
  text-decoration: none;
}
.menu a:hover {
  box-shadow: 0 -3em 0 #697275 inset;
  color:white;
}
/*XXXXXXXXXXXXXXX TITRE PRINCIPALE XXXXXXXXXXXX*/
h1 {
  color:#DE6918;
  font-family: 'Philosopher', sans-serif;
  font-size: 40px;
  margin-top:3%;
  text-align: center;
  text-transform: uppercase;
}

/*XXXXXXXXXXXXXXXXX SECTION XXXXXXXXXXXXXXXXXXX*/
h2, h3 {
  letter-spacing: 5px;
}
form{
  margin: 3% auto;
  width:50%;
  } 
input, select {
  outline: none;
  padding: 1% 1% 1% 0.3%;
  border-radius:2px;
  width:50%;
  background: transparent;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  box-sizing: border-box;
  outline: none; 
}

button {
  background-color:#4e4c56;
  color:white;
  padding: 1% 2%;
  border-radius:3px;
  text-transform: uppercase;
}
.bgimg-1{
  position: relative;
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity:0.9;
  background-image: url("../img/arbre-vert.png");
  min-height: 100vh;

}

.caption {
  position: absolute;
  left: 0;
  width: 80%;
}
section {
  width: 80%;
  margin: 5% auto;
}


/* XXXXXXXXXXX ARTICLES XXXXXXXXXXXXXX */
#accueil-articles img {
  width:100%;
  height:30%;
  object-fit: cover;
}

#accueil-articles iframe {
  max-width:100%;
  max-height:50%;
}

#accueil-articles article {
  display:inline-block;
  width:23%;
  vertical-align: top;
  padding: 3%;
  height:25vh;
  border-radius: 5%;
  background: rgba(214,128,75,.1);
  margin-left:2%;
  transition:all 0.3s ease;
}

#accueil-articles article:hover {
border-radius:50%;
}

#accueil-articles article div {
  display:flex;
  flex-direction: column;
}


/*XXXXXXXXXXX FOOTER  XXXXXXXXXXXXX*/
footer{
  background:#A0D8F6;
  padding-top:0.2%;
  border-top: 1px solid #313233;
}
.menuFooter{
  margin-bottom:3%;
  margin-left:35%;
}
.footer ul, li {
  display: inline-block;
}
.footer a {
  background: #1E90FF;
  font-size:1.2em;
  margin-right:10px;
  box-shadow: 0 0 0 #000 inset;
  border: 1px solid #313233;
  border-radius: 3px;
  transition: .3s;
  padding: 10px;
  color: #313233;
  text-decoration: none;
}
.footer a:hover {
  box-shadow: 0 -3em 0 #697275 inset;
  color:white;
}

