/* CSS pour l'affichage par onglet */
@font-face {
    font-family: "MyriadPro-Regular";
    src: url("../css/fonts/MyriadPro-Regular.otf");
  }
  @font-face {
    font-family: "LondonBetween";
    src: url("../css/fonts/LondonBetween.ttf");
  }


@media all and (min-width: 415px) and (max-width: 800px)  {
  .motCle{
    width: auto !important;
    margin: -7% auto -4% !important;
  }
  .article-motCle{
    flex-direction: column;
  }
}
@media all and (max-width: 414px)  {
  /*.motCle{
    width: auto !important;
    margin: -7% auto -32% !important;
  }*/
.illustration {
  background-position: 25vw !important;
}
}
@media all and (min-width: 320px) and (max-width: 500px)  {
  .article-motCle div img{
    margin-right: 5% !important;
    width: 100% !important;
  }
}

/* XXXXX MEDIA QUERIES POUR IFRAME */

@media screen and (max-width: 1500px)
{

  .article-commentaire iframe {
    width:54vw !important;
  }
}

@media screen and (max-width: 1350px)
{

  .article-commentaire iframe {
    width:61vw !important;
  }
}

@media screen and (max-width: 1200px)
{

  .article-commentaire iframe {
    width:69vw !important;
  }
}

@media screen and (max-width: 1100px)
{

  .article-commentaire iframe {
    width:75vw !important;
  }
}

@media screen and (max-width: 1000px)
{

  .article-commentaire iframe {
    width:82vw !important;
  }
}

@media screen and (max-width: 850px)
{

  .article-commentaire iframe {
    width:96vw !important;
  }
}

@media screen and (max-width: 414px)
{

  .article-commentaire iframe {
    height: 50vh !important;
  }
}

/* Classe pour l'affichage du dessin en background */
.illustration {
  background-image: url("../img/earth-145406_640.png");
  background-repeat: repeat-y;
  background-position:right;
}


/* XXXXXXX AFFICHAGE DES COMMENTAIRES XXXXXXXXX */
.read{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding:1%;
    width: 40vw;
    margin-left:9%;
}

.read h2, .read h3 {
 text-align:left;
 margin:2.5% 0 0.5% 0;
}

.read article {
  margin-left: 5%;
}

.read hr {
  margin:0;
}

.read p {
  color: #565759;
}

/* XXXXXXX AFFICHAGE DE L'ARTICLE XXXXXXXXX */

.article-commentaire {
  border-radius:10px;
  width:85%; 
}

  /* Styles du Flexslider dans la page */

.article-commentaire .flexslider {
  width:45vw;
 
  border: none;
}

.article-commentaire .flexslider img {
  max-width: 50vw;
  max-height: 70vh;
  object-fit: contain;
}

.flex-control-thumbs img {
  height:25%;
}

.article-commentaire iframe {
  width:73vw;
  zoom: 73%;
  height:100vh !important;
  margin-top:3%;

}

.article-commentaire .articleSeul, #commentaire {
  color: #565759;
  padding:2% 0 5% 2%;
  width: 45vw;
}

.articleSeul hr {
  margin-left:0;
}

.article-commentaire a {
  color:rgba(255, 104, 4, 0.877);
  padding:1%;
}

.article-commentaire a:hover {
  background-color: rgba(255, 104, 4, 0.877);
  color: #eeeff1;
}



.article-commentaire h2 {
  font-family: "LondonBetween";
  text-transform: uppercase;
  font-size: 1.7em;
  text-align: center;

}

.article-commentaire p {
  font-size: 18px;
}


#commentaire h3{
  margin: 2% 0;
  text-align: left;
}

.infos {
  color: #a09f9f;
  font-size: 15px !important;
}

.pdf {
  padding: 1% 0 0 4%;
}

/*XXXXXXXXXXXXX SECTION MOT-CLE XXXXXXXXXXX*/
.article-motCle{
  color: rgb(16, 78, 139);
  font-size: 1em;
 
  display: inline-flex;
  border: 4px solid rgb(169, 212, 237);
  padding: 2%;
  width: 100%;
  margin-bottom: 2%;
}
.article-mot a{
  font-size: 1.2em;
  text-transform: uppercase;
  color: rgb(16, 78, 139);
  }
.article-mot{
    padding-left: 5%;
  }
.motCle h3{
  font-size: 1.6em;
  text-transform: uppercase;
  }
.article-motCle div iframe {
  width: 45vw;
  height: 30vh;
  object-fit: cover;
  border-radius:10px;
}

/* XXXXXXXXXXXXX SECTION CONTACT XXXXXXXXXXXXXXXXXX */

address {
  font-style:normal;
  font-family: "MyriadPro-Regular";
}

.contactInfos {
  font-family: "MyriadPro-Regular";
  color: #565759;
  padding:2% 0 5% 4%;
  text-align: left;
}

.contactInfos h3 {
  text-align:left;
  margin-bottom:1%;
}